# Ignore the binaries
/jukeboks
/jukeboks.exe

# Build artifacts
/dist/
/jukeboks-dist.zip

# Server config file can 
# contain data we don't 
# want to track potentially!
jukeboks.json

# Ignore scratchpad.... 
# It holds my notes and junk and stuff.
scratchpad/
